<html>
    <head>
        <title>Blue Alert</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1 class="text-center mt-3">Blue Alert</h1>
        <h2>Results</h2>
        <div class="ml-1">
            <a><div class="card w-25">
                <div class="card-body">
                  <h5 class="card-title">First Trend</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </br>
            <div class="card w-25">
                <div class="card-body">
                  <h5 class="card-title">Second Trend</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            </div>
</html>